@import "./variables";

html {
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $gray;
}

h1,
p {
  margin: 0;
}
