.user-container {
  min-width: 15rem;
  max-width: 10rem;
  min-height: 13rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-break: anywhere;

  &__user-text {
    margin: 1rem 0;
  }

  &__user-img {
    width: 7rem;
    border-radius: 100%;
  }
}
